body {
  font-family: "Computer Modern Serif";
  font-size: 15pt;
  letter-spacing: 1.5px;
  margin: 100px 150px;

}

header {
  position: justify;
  left:75px;
  right:75px;
  
}

h1 {
  font-family: "Computer Modern Serif";
  font-size: 30pt;
  letter-spacing: 8px;
}

h2 {
  border-top-style:solid;
  border-top-width: 2px;
  border-bottom-style:solid;
  border-bottom-width: 1px;
  font-family: "sans-serif";
  font-size: 17pt;
  font-weight: medium;
  letter-spacing: 6px;
  text-transform: uppercase;
}

dt {
  float:left; 
}

dd {
  margin-left:165px;
}

small {
  font-style: italic;
  font-size: 9pt;
  letter-spacing: 3px;
  text-transform: none;
}

.week {
  -webkit-transform: rotate(-90deg);
  font-family: Helvetica;
  font-size: 22px;
}

.odd_week {
  background-color: lavender
}

table {
  border:  .75px solid gray;
  padding-left: 75px;
  padding-right: 75px;
}

th {
  background-color: black;
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: .15em;
  color: white;
}

td {
  font-family: Helvetica;
 }


/* ----------------------------------------------------------------- */
/* The scary stuff below is just to get the right font loaded up.    */
/* Don't worry about it. Write your CSS rules above the dotted line. */
/* I started them off for you with a rule about the body tag.        */

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunrm.woff') format('woff'),
     url('fonts/cmunrm.ttf') format('truetype'),
     url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbx.woff') format('woff'),
     url('fonts/cmunbx.ttf') format('truetype'),
     url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunti.woff') format('woff'),
     url('fonts/cmunti.ttf') format('truetype'),
     url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbi.woff') format('woff'),
     url('fonts/cmunbi.ttf') format('truetype'),
     url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
